<div class = "display-flex">
  <div class = "inline-div" echarts [options]= "assetsChangeCurveForEveryOne"></div>
  <div class = "inline-div" echarts [options]= "assetsChangeCurve"></div>
</div>
<div class = "display-flex">
  <div class = "inline-div" echarts [options]= "assetsChangeCurveForKeKe"></div>
  <div class = "inline-div" echarts [options]= "assetsChangeCurveForMM"></div>
</div>

<div class = "display-flex">
  <div class = "inline-div" echarts [options]= "assetsChangeCurveForBB"></div>
  <div class = "inline-div" echarts [options]= "assetsChangeCurveForGM"></div>
</div>
