<div class = "display-flex">
  <div echarts [options]= "assetsByPeopleOptions" style="height:300px; width:380px"></div>
  <div echarts [options]= "assetsByType" style="height:300px; width:500px"></div>
</div>
<div class = "display-flex">
  <div echarts [options]= "assetsByTypeForKeKe" style="height:300px; width:500px"></div>
  <div echarts [options]= "assetsByTypeForMM" style="height:300px; width:500px"></div>
</div>
<div class = "display-flex">
  <div echarts [options]= "assetsByTypeForBB" style="height:300px; width:500px"></div>
  <div echarts [options]= "assetsByTypeForGM" style="height:300px; width:500px"></div>
</div>


